
{% extends 'base.html' %}

{% block title %}<title>Онлайн Магазин</title>{%endblock%}


{% block main %}

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара 1</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара 2</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара 3</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара 4</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара 5</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара 6</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/1.png') }}" width="100%" height="100%">

            <div class="card-body">
              <p class="card-text">Название товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">К товару</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">в корзину</button>
                </div>
                <small class="price_good">9</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{%endblock%}